<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{HTTP:Authorization} .
  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

  RewriteCond $0 !^index.php
  RewriteRule .* index.php/$0 [L]
</IfModule>